<!--Edgar Adrian Mejia Razo Centennial College 301066027 WINTER 2020-->


<%- include partials/header.ejs %> 

<%- include partials/main_nav.ejs %> 
 


  <!-- Main Content -->
  <main class="container">
  <div class="jumbotron">
  <h1 class="display-8"><%= title %></h1>
 

</div>

<body>

<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="/images/sounds.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Binaural Sounds and their Therapeutic Application</h5>
      <p class="card-text"><%= project1 %></p>
      <p class="card-text"><small class="text-muted">12/2014- 08/2009</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/images/musica.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Musical Box</h5>
      <p class="card-text"><%= project2 %></p>
      <p class="card-text"><small class="text-muted">08/2009- 12/2009</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/images/cool.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Cooling System</h5>
      <p class="card-text"><%= project3 %></p>
      <p class="card-text"><small class="text-muted">08/2012- 12/2012</small></p>
    </div>
  </div>
</div>

  
</body>


</main>

<%- include partials/bottom_nav.ejs %> 

<%- include partials/footer.ejs %> 


<!--Edgar Adrian Mejia Razo Centennial College 301066027 WINTER 2020-->




 













