<!--Edgar Adrian Mejia Razo Centennial College 301066027 WINTER 2020-->


<%- include partials/header.ejs %> 

<%- include partials/main_nav.ejs %> 
 


  <!-- Main Content -->
  <main class="container">
  <div class="jumbotron">
  <h1 class="display-8"><%= title %></h1>


  
</div>

<body>
  <div class="card-group">
  <div class="card">
    <img class="card-img-top" src="/images/node.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Web Apps Development </h5>
      <p class="card-text">Creation of well-designed, tested code using best practices for website development, including mobile and responsive site design</p>
      <p class="card-text"><small class="text-muted">NodeJs, ExpressJS...</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/images/visual.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Visual Studios Solutions</h5>
      <p class="card-text">Development of Programs, Apps, Games and more capable of reaching any Windows running device .</p>
      <p class="card-text"><small class="text-muted">Visual Studio overall IDE</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/images/telecom.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Telecommunications Infrestructure Analisis</h5>
      <p class="card-text">Preparation and overview of services quotations for Telecommunications infrastructure offers dedicated to Project management, quality control and technical summaries.</p>
      <p class="card-text"><small class="text-muted">Physical Installation Services end</small></p>
    </div>
  </div>
</div>
  
</body>


</main>

<%- include partials/bottom_nav.ejs %> 

<%- include partials/footer.ejs %> 



<!--Edgar Adrian Mejia Razo Centennial College 301066027 WINTER 2020-->



 













