<!--Edgar Adrian Mejia Razo Centennial College 301066027 WINTER 2020-->

<%- include partials/header.ejs %> 

<%- include partials/main_nav.ejs %> 
 


  <!-- Main Content -->
  <main class="container">
  <div class="jumbotron">
  <h1 class="display-8"><%= title %></h1>
  
  
<body>
<h2>My name is <%= name %></h2>

<div>
    <p><%= paragraph %></p>
    <div class="container">
        <img src="/images/me.jpg"  width="280" height="310" style="float:right" alt="me">
        &nbsp;
        &nbsp;
    </div>
    &nbsp;
    <h2><%= key %></h2>
   
    <ul>
        <li><a>High capacity and ease of adaptation</a></li>
        <li><a>Great willingness to learn</a></li>
        <li><a>Creative</a></li>
        <li><a>Patient</a></li>
        <li><a>Pro-Active</a></li>
    </ul>
    &nbsp;
    <h3><%= resume %></h3>
    
    <li><a href="\Assets\RESUME EDGAR MEJIA RAZO_2020.pdf">RESUME</a></li>
</div>

</body>
  
</div>

</main>

<%- include partials/bottom_nav.ejs %> 

<%- include partials/footer.ejs %> 

<!--Edgar Adrian Mejia Razo Centennial College 301066027 WINTER 2020-->
